*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

a, a:hover{
    text-decoration: none;
}

ul{
    list-style: none;
}

button{
    cursor: pointer;
    outline: none;
}

input, textarea{
    outline: none;
}